{
  "presets": [
    ["env", {
      "targets": {
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node", "transform-decorators-legacy"]
    }
  }
}
