<div class="tweet-container">
  <div class="header">
    <div class="meta">
      <div class="user-details">
        <span class="display-name"></span>
        <span class="screen-name"></span>
      </div>
    </div>
    <img class="twitter-logo" src="../../../src/static/img/twitter-logo.svg" />
  </div>
  <div class="body">
    <div class="tweet-image-container">
    </div>
    <div class="tweet-data-container">
      <div class="tweet-text-container">
        <span class="tweet-text"></span>
      </div>
      <span class="tweet-time"></span>
      <div class="tweet-stats">
        <img class="icon retweets-icon" src="../../../src/static/img/retweets-icon.svg" /><span class="stat tweet-retweets"></span>
        <img class="icon likes-icon" src="../../../src/static/img/likes-icon.svg" /><span class="stat icon tweet-favorites"></span>
      </div>
    </div>
  </div>
</div>
