.theme-light {
  .tweet {
  	.tweet-container {
  		color: $light-base2;
  	}
  }
  .tweet-container {
  	.header {
  		color: $light-base1;
      .meta {
        .profile-image {
          border: 1px solid $light-base4;
        }
      }
  	}
  }
  .tweet-container .body {
  	.tweet-image-container {
  		img.tweet-image {
  			-webkit-box-shadow: 0px 9px 23px -3px $light-base2;
  			-moz-box-shadow: 0px 9px 23px -3px $light-base2;
  			box-shadow: 0px 9px 23px -3px $light-base2;
  		}
  	}
  	.tweet-data-container {
      .tweet-text-container {
        color: $light-accent1;
        span.tweet-text {
          color: $light-base1;
        }
    		span.embedded-link {
    				color: $light-accent1;
    			}
    		span.tweet-time {
    			color: $light-base1;
    		}
    		.tweet-stats {
    			color: $light-base3;
    		}
      }
  	}
  }
}
