/* fonts */
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* theme-light */
$light-base1: #000;
$light-base2: #545454;
$light-base3: #777;
$light-base4: #E0E0E0;
$light-accent1: #1DA1F2;

/* theme-dark */
$dark-base1: #FFF;
$dark-base2: #FFF;
$dark-base3: #777;
$dark-base4: #777;
$dark-base4: #515151;
$dark-accent1: #1DA1F2;

/* font-size for layout-16x9 */
$l-text-16x9: 5vw;
$m-text-16x9: 3.5vw;
$s-text-16x9: 2.5vw;

/* font-size for layout-4x3 */
$xl-text-4x3: 5.5vw;
$l-text-4x3: 5vw;
$m-text-4x3: 4vw;
$s-text-4x3: 3.75vw;
$xs-text-4x3: 3vw;

/* font-size for layout-9x16 */
$xl-text-9x16: 10vw;
$l-text-9x16: 7.5vw;
$m-text-9x16: 6.5vw;
$s-text-9x16: 5vw;
$xs-text-9x16: 3vw;
